main {
  /* height: 2450px; */
  /* bottom: 0; */
}

#SiteNavigation {
  float:right;
  font-family: 'Poiret One';
  color: Brown;
}

#Page{
  height: 100%;
}

.searchbox input#search {
  width: 300px;
  height: 50px;
  background: Brown;
  border: none;
  font-size: 10pt;
  float: left;
  color: NavajoWhite;
  padding-left: 45px;
  border-radius: 5px;
}

.sideButton {
  display: hidden;
}

#sidebar {
  display: block;
  background-color: NavajoWhite;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 5000;
}

#mapid {
  padding-left: : 50px;
  padding-right: : 50px;
  width:100%;
  height:93%;
  position: relative;
}


/* Sidebar */

h4 {
  margin: 10px;
  font-family: 'Poiret One';
  font-size: 20px;
  color: Brown;
}

button {
  cursor: pointer;
  color: Brown;
  background-color: AntiqueWhite;
}

.Dietary button {
  background-color: Brown;
  border: 1px solid Black;
  font-family: 'Poiret One';
  font-size: 15px;
  color: NavajoWhite;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}


.Continental button {
  background-color: Brown;
  border: 1px solid Black;
  font-family: 'Poiret One';
  font-size: 15px;
  color: NavajoWhite;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}


.Time button {
  background-color: Brown;
  border: 1px solid Black;
  font-family: 'Poiret One';
  font-size: 15px;
  color: NavajoWhite;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}

button:hover {
  background-color: Maroon;
}

.sideButton {
  width: 5%;
  padding: 5px;
  background-color: Brown;
  color: AntiqueWhite;
  font-size: 20px;
}

.sidebarButton{
  display:block;
}

/* new responsive stuff ;) ;) ;) */

@media only screen and (min-width: 768px) {
   main {
     height: 800px;
   }

   .sidebarButton{
     display: none;
   }

   #sidebar{
     margin-top: 10px;
   }

   #lastButton{
     margin-bottom: 10px;
   }

   #mapid {
     padding-left: : 50px;
     padding-right: : 50px;
     width:70%;
     height:85%;
   }
}
