body{
  margin: auto;
  width:960px;
}

header, section, article, nav, aside, footer, div{
  font-family: sans-serif;
}

header, footer{
  background-image: url("diner.jpg");
}

.bold{font-weight:bold;}

#first-para {font-weight:bold;}

body {
    background-color: BurlyWood;
}

li {
  display: inline;
  margin: 50px;
  font-weight: bold;
}

#Page{
  background-color: AntiqueWhite;
}

#Header{
  width: 100%;
}

#SiteTitle{
display: inline-block;
font-size: 50px;
text-align: center;
}

#loginbar{
display: inline-block;
float: right;
font-size: 20px;
text-align: right;
}


#interactivemap {
        padding-left: : 50px;
        padding-right: : 50px;
        width:100%;
}

#sidebar {
  display: none;
  height: 800px;
  background-color: white;
}

button {
  text-align:center;
  background-color: AntiqueWhite;
  color: Brown;
  cursor:pointer;
  display:inline-block;
  font:bold 12px/100% Arial, sans-serif;
}
