/* General CSS */

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
}

/* Header and Footer */

header, footer {
  background-color: Brown;
}


/* Header CSS */

#SiteTitle {
  display: inline-block;
  color: NavajoWhite;
  font-family: 'Poiret One';
  font-size: 50px;
  text-align: center;
}


.loginButton {
  font-family: 'Poiret One';
  cursor: pointer;
  background-color: Brown;
  color: NavajoWhite;
  padding: 5px;
  font-size: 25px;
  border: none;
}

.loginOptions {
  margin-top: 73px;
  margin-right: 30px;
  float: right;
  position: relative;
}

.profileMenu {
  display: none;
  right: 0;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: Brown;
  color: NavajoWhite;
}

.profileMenu button {
  font-family: 'Poiret One';
  width: 100%;
  color: NavajoWhite;
  background-color: Brown;
  padding: 12px 16px;
  display: block;
}

.loginOptions:hover .profileMenu {
  display: block;
}


#logoImage {
  display: inline-block;
  margin-left: 35%;
  width: 30%;
}


/* Body CSS */

h2 {
  font-family: 'Poiret One';
  color: Brown;
}

p {
  font-family: 'Poiret One';
  color: Brown;
}

#Page {
  background-color: AntiqueWhite;
  font-family: 'Poiret One';
  color: Brown;
}

.bold {font-weight:bold;}

#first-para {font-weight:bold;}

body {
  margin: auto;
  min-width:1500px;
  background-color: NavajoWhite;
  background-image: url(../images/wood.png);
  float: center;
}


/* Footer CSS */

.grid-100 button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px 24px;
  margin-right: 12.7%;
  margin-left: 12.7%;
  color: NavajoWhite;
  background-color: Brown;
  cursor: pointer;
}

/* @media only screen and (max-width: 768px) {
    /* For mobile phones:
    .grid-100 button {
      margin-right: 12.7%;
      margin-left: 12.7%;
    }
} */
/*---------------------more-------------------*/
