/* General CSS */

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
}

/* Header and Footer */

header, footer {
  background-color: Brown;
}


/* Header CSS */


.loginButton {
  font-family: 'Poiret One';
  cursor: pointer;
  background-color: Brown;
  color: NavajoWhite;
  padding: 5px;
  font-size: 25px;
  z-index: 10;
  padding-top:auto;
  padding-left: auto;
  padding-right: auto;
}

#optionsBar{
  padding-top: 10px;
  padding-bottom: 10px;
  width:inherit;
  height: 7%;
}

.options {
  margin-top: auto;
  float: right;
  position: relative;
  width: 100%;
  height: 50px;
  align-items: center;
}

.profileMenu {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: Brown;
  color: NavajoWhite;
}

.profileMenu button {
  font-family: 'Poiret One';
  width: 100%;
  color: NavajoWhite;
  background-color: Brown;
  padding: 12px 16px;
  display: block;
}

.loginOptions:hover .profileMenu {
  display: block;
}


#logoImage {
  margin-left: 20%;
  width: 60%;
}


/* Body CSS */

.loginButton{
  height: 100%;
  min-height:50px;
  display: inline-block;
}

h2 {
  font-family: 'Poiret One';
  color: Brown;
}

p {
  font-family: 'Poiret One';
  color: Brown;
}

#Page {
  background-color: AntiqueWhite;
  font-family: 'Poiret One';
  color: Brown;
}

.bold {font-weight:bold;}

#first-para {font-weight:bold;}

body {
  margin: auto;
  min-width:100%;
  background-color: NavajoWhite;
  background-image: url(../images/wood.png);
  float: center;
  /* bottom: 0; */
}


/* Footer CSS */

.grid-100 button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 20px;
  width: 32%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  color: NavajoWhite;
  background-color: Brown;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    #PageFooter{
      width: 100%;
      position:fixed;
      bottom: 0;
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .grid-100 button {
      width: 15%;
      margin-right: 9%;
      margin-left: 9%;
      margin-top:  2%;
      margin-bottom: 2%;
    }


    #logoImage {
      margin-left: 35%;
      width: 30%;
    }
}
/*---------------------more-------------------*/
