/* Content */
button {
    font-family: 'Poiret One';
    font-size: 20px;
    padding: 10px 24px;
    color: NavajoWhite;
    background-color: Brown;
    cursor: pointer;
}

main {
  height: 2400px;
}

#contentRecipe {
    width: 300px;
    padding: 25px;
    margin: 25px;
}

#recipeTitle {
  color: Brown;
}

#recipeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-family: 'Poiret One';
  color: Brown;
}

h3 {
  font-family: 'Poiret One';
  color: Brown;
}

#dietaryNotes {
  font-family: 'Poiret One';
  color: Brown;
  font-size: 30px;
}

#ingredientsList {
  font-family: 'Poiret One';
  color: Brown;
  font-size: 30px;
}

#preparationSteps {
  font-family: 'Poiret One';
  color: Brown;
  font-size: 30px;
}


/* Paragraph Content */

.contentRecipe {
  font-family: 'Poiret One';
  color: Brown;
}


/* Review */

#review {
  font-family: 'Poiret One';
  color: Brown;
}
