<div class="grid-100">
    <a href="legal"><button tabindex="21">Legal</button></a>
    <a href="about"><button tabindex="22">About</button></a>
    <a href="contact"><button tabindex="23">Contact</button></a>
</div>
