<div class="grid-100">
    <a href="legal" tabindex="-1"><button tabindex="21">Legal</button></a>
    <a href="about" tabindex="-1"><button tabindex="22">About</button></a>
    <a href="contact" tabindex="-1"><button tabindex="23">Contact</button></a>
</div>
