<button class="loginButton" onclick="login_menu()" tabindex="1">Menu</button>
<div class="profileMenu">
  <%if(!loggedin){%>
    <a href="loginPage"><button tabindex="2">Login</button></a>
    <a href="registerPage"><button tabindex="3">Register</button> </a>
  <%}%>
  <%if(loggedin){%>
    <a href="profile"><button tabindex="2">Profile</button> </a>
    <a href="/logout"><button tabindex="3">Logout</button> </a>
  <%}%>
</div>
