<button class="loginButton" onclick="login_menu()">Menu</button>
<div class="profileMenu">
   <a href="loginPage"><button>Login</button></a>
   <a href="registerPage"><button>Register</button> </a>
   <a href="profile"><button>Profile</button> </a>
</div>
