<button class="sideButton" onclick="menu_toggle()">☰</button>
<button class="ProfileButton" onclick="login_menu()">Profile</button>
<div class="profileMenu">
   <a href="loginPage"><button id="loginButton">Login</button></a>
   <a href="registerPage"><button id="registerButton">Register</button> </a>
</div>
<!-- <div class="profileMenu2">
   <button id="logoutButton">Logout</button></a>
   <a href="favouritesPage"><button id="favouritesButton">Favourites</button> </a>
</div> -->
