/* General CSS */

header, section, article, nav, aside, footer, div{
  font-family: sans-serif;
}

/* Header and Footer */

header, footer{
  background-color: Brown;
}


/* Header CSS */

#SiteTitle{
  display: inline-block;
  color: NavajoWhite;
  font-family: 'Poiret One';
  font-size: 50px;
  text-align: center;
}

#loginbar{
   display: inline-block;
   font-family: 'Poiret One';
   color: NavajoWhite;
   float: right;
   font-size: 20px;
   text-align: right;
}
