/* General CSS */

header, section, article, nav, aside, footer, div{
  font-family: sans-serif;
}

/* Header and Footer */

header, footer{
  background-color: Brown;
}


/* Header CSS */

#SiteTitle{
  display: inline-block;
  color: NavajoWhite;
  font-family: 'Poiret One';
  font-size: 50px;
  text-align: center;
}

#loginbar{
   display: inline-block;
   font-family: 'Poiret One';
   color: NavajoWhite;
   float: right;
   font-size: 20px;
   text-align: right;
}

#logoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* Body CSS */

.bold{font-weight:bold;}

#first-para {font-weight:bold;}

body{
  margin: auto;
  min-width:1500px;
  background-color: NavajoWhite;
  background-image: url(wood.png);
  float: center;
}


/* Content */

main {
  height: 800px;
}

#Page{
  background-color: AntiqueWhite;
}


#SiteNavigation {
  float:right;
  font-family: 'Poiret One';
  color: Brown;
}

.searchbox input#search{
  width: 300px;
  height: 50px;
  background: Brown;
  border: none;
  font-size: 10pt;
  float: left;
  color: NavajoWhite;
  padding-left: 45px;
  border-radius: 5px;
}

#sidebar {
  display: block;
  background-color: NavajoWhite;
  white-space: nowrap;
  overflow: hidden;
}

#interactivemap {
  padding-left: : 50px;
  padding-right: : 50px;
  width:100%;
}


/* Sidebar */

h4 {
  margin: 10px;
  font-family: 'Poiret One';
  font-size: 20px;
  color: Brown;
}

button {
  cursor: pointer;
  color: Brown;
  background-color: AntiqueWhite;
}

.Dietary button {
  background-color: Brown;
  border: 1px solid Black;
  font-family: 'Poiret One';
  font-size: 15px;
  color: NavajoWhite;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}


.Continental button {
  background-color: Brown;
  border: 1px solid Black;
  font-family: 'Poiret One';
  font-size: 15px;
  color: NavajoWhite;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}


.Time button {
  background-color: Brown;
  border: 1px solid Black;
  font-family: 'Poiret One';
  font-size: 15px;
  color: NavajoWhite;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}

button:hover {
  background-color: Maroon;
}


/* Footer CSS */

.grid-100 button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 20px;
  margin: 40px;
  padding: 10px 24px;
  margin-right: 200px;
  margin-left: 250px;
  color: NavajoWhite;
  background-color: Brown;
  cursor: pointer;
}
