/* General CSS */
header, section, article, nav, aside, footer, div{
  font-family: sans-serif;
}


/* Header and Footer */
header, footer{
  background-color: Bisque;
}


/* Header CSS */
#SiteTitle{
  display: inline-block;
  font-size: 50px;
  text-align: center;
}

#loginbar{
   display: inline-block;
   float: right;
   font-size: 20px;
   text-align: right;
}


/* Body CSS */
.bold{font-weight:bold;}

#first-para {font-weight:bold;}

body{
  margin: auto;
  width:1500px;
  background-color: BurlyWood;
}


/* Content */
main {
  height: 750px;
}

#Page{
  background-color: AntiqueWhite;
}

#searchBar{
  float:right;
}

#sidebar {
  display: block;
  background-color: Bisque;
  white-space: nowrap;
  overflow: hidden;
}

#interactivemap {
  padding-left: : 50px;
  padding-right: : 50px;
  width:100%;
}


/* Sidebar */
h4 {
  margin: 10px;
}

button {
  cursor: pointer;
  color: Brown;
  background-color: AntiqueWhite;
}

.Dietary button {
  background-color: Brown;
  border: 1px solid Black;
  color: Black;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}


.Continental button {
  background-color: Brown;
  border: 1px solid Black;
  color: Black;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}


.Time button {
  background-color: Brown;
  border: 1px solid Black;
  color: Black;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}

button:hover {
  background-color: white;
}

/* Footer CSS */
li {
  display: inline;
  margin: 40px;
  font-weight: bold;
}
