/* General CSS */

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
}

/* Header and Footer */

header, footer {
  background-color: Brown;
}


/* Header CSS */

#SiteTitle {
  display: inline-block;
  color: NavajoWhite;
  font-family: 'Poiret One';
  font-size: 50px;
  text-align: center;
}

#loginbar {
   display: inline-block;
   font-family: 'Poiret One';
   color: NavajoWhite;
   float: right;
   font-size: 20px;
   text-align: right;
}

#logoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* Footer CSS */

.grid-100 button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 20px;
  margin: 40px;
  padding: 10px 24px;
  margin-right: 200px;
  margin-left: 250px;
  color: NavajoWhite;
  background-color: Brown;
  cursor: pointer;
}

/* Body CSS */

.bold {font-weight:bold;}

#first-para {font-weight:bold;}

body {
  margin: auto;
  min-width:1500px;
  background-color: NavajoWhite;
  background-image: url(images/wood.png);
  float: center;
}
/*---------------------more-------------------*/
