/* General CSS */

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
}

/* Header and Footer */

header, footer {
  background-color: Brown;
}


/* Header CSS */

#SiteTitle {
  display: inline-block;
  color: NavajoWhite;
  font-family: 'Poiret One';
  font-size: 50px;
  text-align: center;
}


.loginButton {
  float: right;
  font-family: 'Poiret One';
  cursor: pointer;
  background-color: NavajoWhite;
  color: Brown;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.profileMenu{
  float: right;
  display: block;
  background-color: NavajoWhite;
  white-space: nowrap;
  overflow: hidden;
}

.profileMenu a {
  color: Brown;
  background-color: NavajoWhite;
  padding: 12px 16px;
  display: block;
}



#logoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


/* Body CSS */

#Page {
  background-color: AntiqueWhite;
}

.bold {font-weight:bold;}

#first-para {font-weight:bold;}

body {
  margin: auto;
  min-width:1500px;
  background-color: NavajoWhite;
  background-image: url(images/wood.png);
  float: center;
}


/* Footer CSS */

.grid-100 button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 20px;
  margin: 40px;
  padding: 10px 24px;
  margin-right: 200px;
  margin-left: 250px;
  color: NavajoWhite;
  background-color: Brown;
  cursor: pointer;
}

/*---------------------more-------------------*/
