/* General CSS */

header, section, article, nav, aside, footer, div{
  font-family: sans-serif;
}


/* Header and Footer */

header, footer{
  background-color: Brown;
}


/*  Header CSS */

#SiteTitle{
  display: inline-block;
  color: NavajoWhite;
  font-family: 'Poiret One';
  font-size: 50px;
  text-align: center;
}

#loginbar{
   display: inline-block;
   float: right;
   color: NavajoWhite;
   font-family: 'Poiret One';
   font-size: 20px;
   text-align: right;
}


/* Body CSS */

.bold{font-weight:bold;}

#first-para {font-weight:bold;}

body{
  margin: auto;
  font-family: 'Poiret One';
  min-width:1500px;
  background-color: NavajoWhite;
  background-image: url(wood.png);
  float: center;
}


/* Content */

main {
  height: 1600px;
}

#contentRecipe {
    width: 300px;
    padding: 25px;
    margin: 25px;
}

#Page {
  background-color: AntiqueWhite;
}

#recipeTitle {
  color: Brown;
}

#recipeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-family: 'Poiret One';
  color: Brown;
}

h3 {
  font-family: 'Poiret One';
  color: Brown;
}

#dietaryNotes {
  font-family: 'Poiret One';
  color: Brown;
  font-size: 30px;
}

#ingredientsList {
  font-family: 'Poiret One';
  color: Brown;
  font-size: 30px;
}

#preparationSteps {
  font-family: 'Poiret One';
  color: Brown;
  font-size: 30px;
}


/* Paragraph Content */

.contentRecipe {
  font-family: 'Poiret One';
  color: Brown;
}


/* Review */

#review {
  font-family: 'Poiret One';
  color: Brown;
}


/*  Footer CSS  */

.grid-100 button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 20px;
  margin: 40px;
  padding: 10px 24px;
  margin-right: 200px;
  margin-left: 250px;
  color: NavajoWhite;
  background-color: Brown;
  cursor: pointer;
}
