/* General CSS */
header, section, article, nav, aside, footer, div{
  font-family: sans-serif;
}


/* Header and Footer */
header, footer{
  background-color: Brown;
}


/*  Header CSS */
#SiteTitle{
  display: inline-block;
  color: NavajoWhite;
  font-family: 'Poiret One';
  font-size: 50px;
  text-align: center;
}

#loginbar{
   display: inline-block;
   float: right;
   font-family: 'Poiret One';
   font-size: 20px;
   text-align: right;
}


/* Body CSS */
body{
  margin: auto;
  font-family: 'Poiret One';
  background-color: NavajoWhite;
}


/* Content */

main {
  height: 1600px;
}

#contentRecipe {
    width: 300px;
    padding: 25px;
    margin: 25px;
}

#Page {
  background-color: NavajoWhite;
}

#recipeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-family: 'Poiret One';
}

#dietaryNotes {
  font-family: 'Poiret One';
}

#ingredientsList {
  font-family: 'Poiret One';
}

#preparationSteps {
  font-family: 'Poiret One';
}

/* Paragraph Content */

.contentRecipe {
  font-family: 'Poiret One';
}

/*  Footer CSS  */
.grid-100 button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 20px;
  margin: 40px;
  padding: 10px 24px;
  color: NavajoWhite;
  background-color: Brown;
  cursor: pointer;
}
