/* General CSS */
header, section, article, nav, aside, footer, div{
  font-family: sans-serif;
}


/* Header and Footer */
header, footer{
  background-color: Bisque;
}


/*  Header CSS */
#SiteTitle{
  display: inline-block;
  font-size: 50px;
  text-align: center;
}

#loginbar{
   display: inline-block;
   float: right;
   font-size: 20px;
   text-align: right;
}


/* Body CSS */
body{
  margin: auto;
  width:1500px;
}


/* Content */
body {
    background-color: BurlyWood;
}

main {
  height: 1600px;
}

#Page{
  background-color: AntiqueWhite;
}

#recipeImage {
  padding-left: : 50px;
  padding-right: : 50px;
  width:100%;
}


/*  Footer CSS  */
li {
  display: inline;
  margin: 40px;
  font-weight: bold;
}
