main {
  height: 800px;
}

body{
  height: 1000px;
}

.logout {
  float: right;
  font-family: 'Poiret One';
  font-size: 20px;
  width: 32%;
  color: White;
  background-color: GoldenRod;
  display: block;
  cursor: pointer;
}
