main {
  height: 800px;
}

body{
  height: 1000px;
}

.logout {
  float: right;
  font-family: 'Poiret One';
  font-size: 18px;
  width: 16%;
  padding: 10px;
  margin-right: 40px;;
  margin-left: auto;
  color: White;
  background-color: GoldenRod;
  display: block;
  cursor: pointer;
}
