/* General CSS */
main {
  height: 800px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: AntiqueWhite;
  height: 1000px;
}


/* Form */

h1 {
  color: Brown;
  font-family: 'Poiret One';
}

form {
  border: 3px solid #f1f1f1;
  color: Brown;
  font-family: 'Poiret One';
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Login Button */

.submitButton {
    background-color: GoldenRod;
    color: White;
    font-family: 'Poiret One';
    font-size: 20px;
    padding: 15px 25px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submitButton:hover {
    background-color: DarkGoldenRod;
}

.cancelbtn {
    width: auto;
    padding: 10px 20px;
    background-color: GoldenRod;
    color: White;
    font-family: 'Poiret One';
    font-size: 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.cancelbtn:hover {
  background-color: DarkGoldenRod;
}

/* Forgot Password? */

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
