main {
  height: 800px;
}

button:hover {
    background-color: DarkGoldenRod;
}

.checked {
  color: orange;
}

.star {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 10px;
}
