main {
  height: 800px;
}

form {
  border: 3px solid #f1f1f1;
  color: Brown;
  font-family: 'Poiret One';
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submitButton {
    background-color: Brown;
    color: White;
    font-family: 'Poiret One';
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.checked {
  color: orange;
}

.star {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 10px;
}
