<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/about.css">
  </head>
  <body>


<!-- HEADER STARTS -->

        <header class="custom-grid-container">
          <% include ../partials/header %>
        </header>


<!-- MAIN STARTS -->

    <main id="Page" class="grid-container">
      <div id="optionsBar">
        <% include ../partials/profileMenu %>
      </div>


<!-- FLAVOURWORLD PARAGRAPH -->

      <div>
        <h2 id="whatIsIt">What is FLAVOURWORLD.COM?</h2>
        <p>
          From the brilliant minds of Software Developement Team KINGS OF THE HILL
          comes the first fully interactive, user friendly, food browser
          Software contraption. FLAVOURWORLD.COM.
          Inspired by His Rightous Holiness the Guy and the Fieri's Apotropaic
          missionary work of conversion to the Kirk of the Muscerelleh.
        </p>
      </div>


<!-- TEAM MEMBERS PARAGRAPH -->

      <div>
        <h2 id="theCrew">The Kings of the Hill</h2>
        <h3>Who are the kings of the hill?</h3>
        <p>
          King of the Hill is an American animated sitcom created by Mike Judge and Greg Daniels that ran from January 12, 1997 to May 6, 2010 on Fox. It centers on the Hills, a middle-class American family in the fictional city of Arlen, Texas. It attempts to maintain a realistic approach, seeking humor in the conventional and mundane aspects of everyday life.

The series debuted on the Fox network as a mid-season replacement in 1997, quickly becoming a hit. The series' popularity led to worldwide syndication, and reruns air nightly on Adult Swim. The show became one of Fox's longest-running series (third-longest as an animated series, behind The Simpsons and Family Guy), and briefly was the second longest running animated sitcom in history. In 2007, it was named by Time magazine as one of the top 100 greatest television shows of all time.[1] King of the Hill won two Emmy Awards and was nominated for seven.

A total of 259 episodes aired over the course of its 13 seasons. The final episode aired on Fox on September 13, 2009. Four episodes from the final season were to have aired on Fox, but later premiered in nightly syndication from May 3 to 6, 2010.
        </p>
      </div>
    </main>


<!-- FOOTER STARTS -->

    <footer id="PageFooter" class="custom-grid-container">
      <% include ../partials/footer %>
    </footer>


<!--JS-->

    <script src="js/scripting.js"></script>
  </body>
</html>
