<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/contact.css">
  </head>
  <body>


<!-- HEADER STARTS -->

      <header class="custom-grid-container">
        <% include ../partials/header %>
      </header>


<!-- MAIN STARTS -->

    <main id="Page" class="grid-container">
      <div id="optionsBar">
        <% include ../partials/profileMenu %>
      </div>


<!-- PRESENTATION PARAGRAPH -->

      <div>
        <h2>Contact Us</h2>
        <p>
          If you have any suggestions for the team here at FLAVOURWORLD.COM, or complaints, please
          enter the appropriate information down below and an email will be sent to US Senator Ted Cruz
          informing him of the problem. If your issue is not resolved then we cannot be held accountable,
          how can we? I mean we do not know Ted Cruz so how can we help. It is Ted Cruz's fault, that
          guy sucks.
        </p>
      </div>


<!-- CONTACT FORM -->

      <form>
        <div class="container">
          <label for="object"><b>Object</b></label>
          <input type="text" placeholder="Enter Object" name="object" required tabindex="5">

          <label for="message"><b>Message</b></label>
          <input type="text" placeholder="Enter Message" name="message" required tabindex="6">

          <button type="submit" class="thisPage" tabindex="7">Submit</button>
        </div>
        <div class="container">
          <button type="button" class="cancelbtn" tabindex="8">Cancel</button>
        </div>
      </form>
    </main>


<!-- FOOTER STARTS -->

    <footer id="PageFooter" class="custom-grid-container">
      <% include ../partials/footer %>
    </footer>


<!--JS-->

    <script src="js/scripting.js"></script>
  </body>
</html>
