<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="js/leaflet-geojson-selector.js"></script>
<script src="js/mapScript.js"></script>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.2.3/unsemantic-grid-responsive-tablet.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="css/leaflet-geojson-selector.css" />
    <meta name="viewport" content="width=device-width">
  </head>

  <body>


<!-- HEADER STARTS -->

  <header class="custom-grid-container">
    <% include ../partials/header %>
  </header>


<!-- MAIN STARTS -->

  <main id="Page" class="grid-container">
    <div id="optionsBar">
      <button class="sideButton" onclick="menu_toggle()">☰</button>
      <button class="loginButton" onclick="login_menu()">Profile</button>
      <div class="profileMenu">
         <a href="loginPage">
         <button>Login</button></a>
         <a href="registerPage">
         <button>Register</button> </a>
      </div>
      <div class="searchbox" id='SiteNavigation'>
        <span class="icon"> <i class="search.container"></i></span>
        <input type="search" id="search" placeholder="Search..." />
      </div>
     </div>

    <div class="sidebarContainer grid-30 mobile-grid-100" id="sidebar">
      <h4 id="dietary">Allergens</h4>
       <div class="Dietary">
          <button type="button" onclick="setFilter(this.id);" id="gluten">
           Gluten
          </button>

          <button type="button" onclick="setFilter(this.id);" id="dairy">
           Dairy
          </button>

          <button type="button" onclick="setFilter(this.id);" id="egg">
           Egg
          </button>

          <button type="button" onclick="setFilter(this.id);" id="fish">
           Seafood
          </button>

          <button type="button" onclick="setFilter(this.id);" id="soy">
           Soy
          </button>

          <button type="button" onclick="setFilter(this.id);" id="sesame">
           Sesame
          </button>

          <button type="button" onclick="setFilter(this.id);" id="nuts">
           Nuts
          </button>
        </div>


      <h4 id="time">Time Restrictions</h4>
        <div class="Time">
          <button type="button" onclick="setFilter(this.id);" id="breakfast">
           Breakfast & Brunch
          </button>

          <button type="button" onclick="setFilter(this.id);" id="lunch">
           Lunch
          </button>

          <button type="button" onclick="setFilter(this.id);" id="dinner">
           Dinner
          </button>

          <button type="button" onclick="setFilter(this.id);" id="snack">
           Snack
          </button>
        </div>

        <h4 id="time">Diet</h4>
          <div class="Diet">
            <button type="button" onclick="setFilter(this.id);" id="vegetarian">
             Vegetarian
            </button>

            <button type="button" onclick="setFilter(this.id);" id="vegan">
             Vegan
            </button>

            <button type="button" onclick="setFilter(this.id);" id="pescetarian">
             Pescetarian
            </button>
          </div>
    </div>


<!--SITE NAVIGATION-->



<!--MAP IMAGE-->

    <div class="mapContainer grid-70 mobile-grid-100" id="mapid">
      <!-- <img src="images/map.png" id="interactivemap"> -->
      <!-- Map goes here -->
    </div>
  </main>


<!-- FOOTER STARTS -->

    <footer id="PageFooter" class="custom-grid-container">
      <% include ../partials/footer %>
    </footer>


<!--JS-->

    <script src="js/scripting.js"></script>
  </body>
</html>
