<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="js/leaflet-geojson-selector.js"></script>
<script src="js/mapScript.js"></script>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.2.3/unsemantic-grid-responsive-tablet.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="css/leaflet-geojson-selector.css" />
    <meta name="viewport" content="width=device-width">
  </head>
  <body>


<!-- HEADER STARTS -->

  <header class="custom-grid-container">
    <% include ../partials/header %>
  </header>


<!-- MAIN STARTS -->

  <main id="Page" class="grid-container">
    <div id="optionsBar">
      <button class="sideButton" onclick="menu_toggle()" tabindex="5">☰</button>
      <% include ../partials/profileMenu %>
      <div class="searchbox" id='SiteNavigation'>
        <span class="icon"> <em class="search.container"></em></span>
        <input type="search" id="search" tabindex="20" placeholder="Search..." oninput="clickOnMapItem(this.value)" />
      </div>
    </div>


<!-- ALLERGENS FILTERS -->

    <div class="sidebarContainer grid-30 mobile-grid-100" id="sidebar">
      <h4 id="dietary">Allergens</h4>
       <div class="Dietary">
          <button type="button" onclick="setFilter(this.id);" id="gluten" tabindex="6">
           Gluten <img src="images/wheat.png" class="filterLogo" alt="gluten icon">
          </button>

          <button type="button" onclick="setFilter(this.id);" id="dairy" tabindex="7">
           Dairy <img src="images/dairy.png" class="filterLogo" alt="dairy icon">
          </button>

          <button type="button" onclick="setFilter(this.id);" id="egg" tabindex="8">
           Egg <img src="images/egg.png" class="filterLogo" alt="egg icon">
          </button>

          <button type="button" onclick="setFilter(this.id);" id="fish" tabindex="9">
           Seafood <img src="images/seafood.png" class="filterLogo" alt="seafood icon">
          </button>

          <button type="button" onclick="setFilter(this.id);" id="soy" tabindex="10">
           Soy <img src="images/soy.png" class="filterLogo" alt="soy icon">
          </button>

          <button type="button" onclick="setFilter(this.id);" id="sesame" tabindex="11">
           Sesame <img src="images/sesame.png" class="filterLogo" alt="sesame icon">
          </button>

          <button type="button" onclick="setFilter(this.id);" id="nuts" tabindex="12">
           Nuts <img src="images/nuts.png" class="filterLogo" alt="nuts icon">
          </button>
        </div>



<!-- MEAL FILTERS -->

      <h4 id="time">Time Restrictions</h4>
        <div class="Time">
          <button type="button" onclick="setFilter(this.id);" id="breakfast" tabindex="13">
           Breakfast & Brunch
          </button>

          <button type="button" onclick="setFilter(this.id);" id="lunch" tabindex="14">
           Lunch
          </button>

          <button type="button" onclick="setFilter(this.id);" id="dinner" tabindex="15">
           Dinner
          </button>

          <button type="button" onclick="setFilter(this.id);" id="snack" tabindex="16">
           Snack
          </button>
        </div>


<!-- OTHER DIETARY FILTERS -->

        <h4 id="time">Diet</h4>
          <div class="Diet">
            <button type="button" onclick="setFilter(this.id);" id="vegetarian" tabindex="17">
             Vegetarian <img src="images/vegetarian.png" class="filterLogo" alt="vegetarian icon">
            </button>

            <button type="button" onclick="setFilter(this.id);" id="vegan" tabindex="18">
             Vegan <img src="images/vegan.png" class="filterLogo" alt="vegan icon">
            </button>

            <button type="button" onclick="setFilter(this.id);" id="pescetarian" tabindex="19">
             Pescetarian
            </button>
          </div>
    </div>


<!--MAP-->

    <div class="mapContainer grid-70 mobile-grid-100" id="mapid" tabindex="-1">
      <!-- <img src="images/map.png" id="interactivemap"> -->
      <!-- Map goes here -->
    </div>
  </main>


<!-- FOOTER STARTS -->

    <footer id="PageFooter" class="custom-grid-container">
      <% include ../partials/footer %>
    </footer>


<!--JS-->

    <script src="js/scripting.js"></script>
  </body>
</html>
