<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/legal.css">
  </head>
  <body>


<!-- HEADER STARTS -->

  <header class="custom-grid-container">
    <% include ../partials/header %>
  </header>


<!-- MAIN STARTS -->

    <main id="Page" class="grid-container">
      <div id="optionsBar">
        <% include ../partials/profileMenu %>
      </div>
      <div>
        <h2>Legal</h2>
        <p>This end user license agreement (“EULA”) forms a binding contract between you and FLAVOURWORLD.COM Ltd,
          a Multi-National company with an address at The Nether from minecraft (“FLAVOURWORLD.COM”).
          This EULA governs your use of the executable code for FLAVOURWORLD.COM’s web application(s), however branded, and including any update or upgrade thereto (“Software”).</p>
        <h2>Terms &amp; Conditions</h2>
        <p>
          <b>1. Results.</b>
          The owners of and/or partners at FLAVOURWORLD.COM cannot be held responsible for the dishes that may be
          displayed when using the site. If anyone were to blame, hell, I would blame Yummly, those jabronies are
          the creators of the api which brings in the recipes to our site. Legally we get all of the benefits from the site
          with none of the risks, it's kinda awesome.
        </p>
        <p>
          <b>2. What we do with your information.</b>
          If you decide to register an account with us, it is important to know what we will do with your information.
          We here at FLAVOURWORLD.COM fully understand your concern as a user with regards to your data.
          While reading this, and the 7429 page FLAVOURWORLD.COM Legal information leaflet, you will be able to easily see who has access to your
          name, email address, passwords, webcam footage, bank details and your pictures from the 2007 trip to majorca with the family.
        </p>
      </div>
    </main>


<!-- FOOTER STARTS -->

    <footer id="PageFooter" class="custom-grid-container">
      <% include ../partials/footer %>
    </footer>


<!--JS-->

    <script src="js/scripting.js"></script>
  </body>
</html>
