<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/loginPage.css">
  </head>


<!-- HEADER STARTS -->

  <header class="custom-grid-container">
    <% include ../partials/header %>
  </header>


<!-- MAIN STARTS -->

  <main id="Page" class="grid-container">
    <form action="/dologin" method="POST">


<!-- USERNAME AND PASSWORD INPUT BOXES -->

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" tabindex="1" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" tabindex="2" required>

        <button type="submit" class="submitButton" tabindex="3">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember" tabindex="5"> Remember me
        </label>
      </div>

  <!-- CANCEL BUTTON LCOSES THE FORM -->

      <div class="container">
        <a href="home">
          <button type="button" class="cancelbtn" tabindex="6">Cancel</button>
        </a>
        <span class="psw"> Forgot <a href="#" tabindex="7"> password? </a></span>
      </div>
    </form>
  </main>


  <!-- FOOTER STARTS -->

  <footer id="PageFooter" class="custom-grid-container">
    <% include ../partials/footer %>
  </footer>
</html>
