<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.2.3/unsemantic-grid-responsive-tablet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/review.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Poiret+One" rel="stylesheet">
  </head>
  <body>


<!-- HEADER STARTS -->

    <header class="custom-grid-container">
      <% include ../partials/header %>
    </header>


<!-- MAIN STARTS -->

    <main id="Page" class="grid-container">
      <div id="optionsBar">
        <% include ../partials/profileMenu %>
      </div>


<!-- TEXTBOX -->

      <form action="/reviewDish" method="POST">
          <div class="container">
            <label for="reviewbox"><b>Your Review</b></label>
            <input type="text" placeholder="What did you think of this dish?" tabindex="1" name="reviewbox" required>
            <input type="hidden" name="id" value="<%= id %>">
            <input type="hidden" name="name" value="<%= name %>">
          </div>


  <!-- STAR RATINGS -->

        <div>
          <b>Rating</b>
          <p>
            <img src="images/star-empty-single.png" id="star1" class="star" tabindex="2">
            <img src="images/star-empty-single.png" id="star2" class="star" tabindex="3">
            <img src="images/star-empty-single.png" id="star3" class="star" tabindex="4">
            <img src="images/star-empty-single.png" id="star4" class="star" tabindex="5">
            <img src="images/star-empty-single.png" id="star5" class="star" tabindex="6">
          </p>
          <input id="starrating" type="hidden" name="score" value=0>
        </div>
        <div>
          <p>
            <button class="submitButton" tabindex="7">Submit</button>
          </p>
        </div>
      </form>
    </main>


<!-- FOOTER STARTS -->

    <footer id="PageFooter" class="custom-grid-container">
      <% include ../partials/footer %>
    </footer>


<!--JS-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/starrating.js"></script>
    <script src="js/scripting.js"></script>
  </body>
</html>
